div {
  text-align: justify;
  text-justify: inter-word;
}
html
{
   font-family:Arial;
}
i
   {
   color:teal; 
   font-size:14px;
   font-family:Arial;
    }
   h1
   {
   color:teal; 
   font-size:24px;
   font-family:Arial;
   }
   h2
   {
   color:teal; 
   font-size:20px;
   font-family:Arial;
   }
   h3
   {
   color:teal; 
   font-size:16px;
   font-family:Arial;
   }
   b
   {
   color:teal; 
   font-size:14px;
   font-family:Arial;
   }
  p
   {
   color:teal; 
   font-size:14px;
   font-family:Arial;
   width:900px;
   padding:5px; 
   }
  a
{
   color:aqua;
   text-decoration: none; 
   background-color: none;
   font-family:Arial;
}
