i
   {
   color:teal; 
   font-size:14px;
   font-family:"Avant Garde";
    }
   h1
   {
   color:teal; 
   font-size:24px;
   font-family:"Avant Garde";
   }
   h2
   {
   color:teal; 
   font-size:20px;
   font-family:"Avant Garde";
   }
   h3
   {
   color:teal; 
   font-size:16px;
   font-family:"Avant Garde";
   }
   b
   {
   color:teal; 
   font-size:14px;
   font-family:"Avant Garde";
   }
  p
   {
   color:teal; 
   font-size:14px;
   font-family:"Avant Garde";
   }
  a
{
   color:aqua;
   text-decoration: none; 
   background-color: none;
   font-family:"Avant Garde";
}
